#title{

    text-align: center; 
    margin-top: 100px;
   
}
#btn{
    display: block;
    margin: 0 auto;
}

#question{
    text-align: center;
}

.answer{
    list-style: none;
    text-align: center;
}